*
!LICENSE
!README.md
!pyproject.toml
!uv.lock
!src/
!src/**
!apps/
!apps/planner-api/
!apps/planner-api/Dockerfile
!deploy/
!deploy/windmill/
!deploy/windmill/extend.Dockerfile
!windmill/
!windmill/**
windmill/**/__pycache__/
windmill/**/*.pyc
!dist/
!dist/**
